html {
  font-size: 20px;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.8rem;
  --col-width: 100%;
  --icon-size: 20px;
}

@media (min-width: 80em) {
  :root {
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
    --col-width: auto;
    --icon-size: 30px;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
  height: 100%;
}

.leaflet-container {
  height: 100%;
}
